html, body, #app, .v-application, main {
    height: 100%;
}

.loader-buttons .v-skeleton-loader__button {
    margin: 10px 0 0 12px;
    width: 120px;
    max-width: 120px;
}

.project-loader-buttons .v-skeleton-loader__button {
    margin: 10px 0 0 12px;
    width: 145px;
    max-width: 165px;
}
